<br>
You can add a caption here:
<form action="/images" method="post">
  <input type="hidden" name="image_id" value=<%= image_id %>>
  <input name="caption" type="text"> 
  <br> 
  <input type="submit" value="Submit caption">
</form>
<br>
<a href="/images/new">No thanks.</a>
