<% if @key %>
  File successfully uploaded to <a href="https://imagesapi.s3.amazonaws.com/<%= @key %>">https://imagesapi.s3.amazonaws.com/<%= @key %></a><br>
  <img src="https://imagesapi.s3.amazonaws.com/<%= @key %>">

  <%= render 'caption', image_id: @id %>

<% end %>